body{
    background-color: lightgray;
}
.container{
    margin-left: 5%;
    margin-top: 200px;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
}
.container>.child1{
    flex-basis: 50%;
    height:200px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWyZ0yRUAghwnrhNfoJZ1UQmQaz-oaDP1YiA&usqp=CAU');
    background-size:contain;
    background-repeat: no-repeat;
    background-color: rgb(143, 184, 171);
    background-position: top center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 
.container>.child2{
    flex-basis: 50%;
    height:200px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#para{
    height: 55px;
    overflow:hidden;
}
@media screen and (max-width:767px){
    .container>.child1{
        flex-basis: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    } 
    .container>.child2{
        flex-basis: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    } 
}