body{
    background-color: yellow;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-shadow: 3px 3px 3px maroon;
}
#logo {
    background: url('../logo.PNG') no-repeat;
    width: 100px;
    height: 144px;
    margin:10px 20px 10px 0px;
}
.navbar-brand a:hover ,.navbar-brand a:focus,.navbar-brand a:visited{
    text-decoration: none;
}
#header-nav{
    background-color: rgb(241, 86, 86);
}
.navbar-brand p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    font-size: 1.1em;
    
}
#nav-list{
    margin:10px;
}
#nav-list a span{
    font-size:1.8em;
}
#nav-list a{
    text-align: center;
    color: black;
}
#nav-list a:hover{
    background: white;
}
#phone a{
    text-align: right;
    padding-bottom: 0px;
}
#phone div{
    text-align: right;
    padding-right: 15px;
    color: darkgreen;
}
.navbar-header button.navbar-toggle, .navbar-header .iconbar{
    border: 1px solid yellow;
}
.navbar-header button.navbar-toggle{
    clear:both;
    margin-top: -90px;
}
#callbtn{
    box-sizing: border-box;
    border:2px solid black;
    background-color: rgb(241, 86, 86);
    text-align: center;
    width:146px;height:30px;
    margin-left: 40%;
}
#callbtn a{
    font-size: 1.5em;
}
#callbtn:hover{
    background-color:white;
}
#xs-deliver{
    color: darkgreen;
}
@media (max-width:767px){
    .navbar-brand{
    height: 100px;
    padding-top: 10px;
    }
    .navbar-brand h1{
        size: 1.5em;
        margin-top:-5px;
    }
    #collapsable-nav a{
            font-size: 1.2em;
    }
    #collapsable-nav a span{
        font-size: 1em;
    }
    .panel-footer section {
        margin-bottom: 30px;
        text-align: center;
      }
      .panel-footer section:nth-child(3) {
        margin-bottom: 0;
      }
      .panel-footer section hr {
        width: 60%;
      }
}
@media (min-width: 1200px) {
    .container .jumbo {
      background: url('jumbo_1200.jpg') no-repeat;
      height: 675px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container .jumbo {
      background: url('jumbo_992.jpg') no-repeat;
      height: 558px;
    }
  }  
.container .jumbo{
    margin-top: 30px;
    padding: 0;
    border:1px solid black;
    box-shadow: 0 0 20px #3F0C1F;
}
#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    margin-top: 15px;
  }
  #menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #838282;
  }
  
  #menu-tile {
    background: url('/menu-tile.jpg') no-repeat;
    background-position: center;
  }
  #specials-tile {
    background: url('/specials-tile.jpg') no-repeat;
    background-position: center;
  }
  
  #menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 15px auto 15px auto;
}
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 35px;
  }
  #hours, #address {
    line-height: 2;
    color: white;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
    color: white;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }
  .category-tile { 
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
  .category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  .category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  
  #menu-categories-title + div {
    margin-bottom: 50px;
  }
  @media (max-width: 500px) {
    .navbar-brand h1 { 
      padding-top: 5px;
      font-size: 6vw;
    }
    #menu-tile, #specials-tile {
      width: 280px;
      margin: 0 auto 15px;
    }
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
  }