#header-nav{
    background-color: gray;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
#logo {
    background: url('../logo.PNG') no-repeat;
    width: 100px;
    height: 144px;
    margin:10px 20px 10px 0px;
}
.navbar-brand a:hover ,.navbar-brand a:focus{
    text-decoration: none;
}
